In [1]:
# Import packages
import pathlib
import matplotlib.pyplot as plt
import cv2
import numpy as np
from PIL import Image
import pandas as pd
from skimage import exposure
import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras.layers import Dense,Flatten
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.applications import EfficientNetB0 #MODEL B

### Data

In [2]:
model_general = tf.keras.models.load_model('D:\\University\\CS3244\\Project\\EfficientNet\\saved_model\\model_B0ML5nad')

model_garden = tf.keras.models.load_model('D:\\University\\CS3244\\Project\\EfficientNet\\saved_model\\model_B0MLgarden23nad')
model_king = tf.keras.models.load_model('D:\\University\\CS3244\\Project\\EfficientNet\\saved_model\\model_B0MLking5nad')
model_raptor = tf.keras.models.load_model('D:\\University\\CS3244\\Project\\EfficientNet\\saved_model\\model_B0MLraptor6nad')
model_water = tf.keras.models.load_model('D:\\University\\CS3244\\Project\\EfficientNet\\saved_model\\model_B0MLwater10nad')
model_wood = tf.keras.models.load_model('D:\\University\\CS3244\\Project\\EfficientNet\\saved_model\\model_B0MLwood5nad')

### Define classes for each model

In [3]:
CLASS_GENERAL = ['Garden and Urban Birds',
 'Kingfishers',
 'Raptors',
 'Waterbirds',
 'Woodpeckers and Barbets']
CLASS_GARDEN = ['Ashy Tailorbird',
 'Asian Glossy Starling',
 'Asian Koel',
 'Black-naped Oriole',
 'Blue-tailed Bee-eater',
 'Blue-throated Bee-eater',
 'Brown Shrike',
 'Brown-throated Sunbird',
 'Common Iora',
 'Common Myna',
 'Common Tailorbird',
 'Javan Myna',
 'Malaysian Pied Fantail',
 'Olive-backed Sunbird',
 'Oriental Magpie-Robin',
 'Oriental Pied Hornbill',
 'Pacific Swallow',
 'Pink-necked Green Pigeon',
 'Rose-ringed Parakeet',
 'Savanna Nightjar',
 'Scarlet-backed Flowerpecker',
 'Yellow-vented Bulbul',
 'Zebra Dove']
CLASS_KING = ['Collared Kingfisher',
 'Common Kingfisher',
 'Stork-billed Kingfisher',
 'White-throated Kingfisher']
CLASS_RAPTOR = ['Brahminy kite',
 'Buffy fish owl',
 'Crested serpent eagle',
 'Grey-headed fish eagle',
 'Spotted wood owl',
 'White-bellied sea eagle']
CLASS_WATER = ['Black-crowned night heron',
 'Chinese pond heron',
 'Common sandpiper',
 'Eastern cattle egret',
 'Grey heron',
 'Little egret',
 'Purple heron',
 'Striated heron',
 'White-breasted waterhen',
 'Yellow bittern']
CLASS_WOOD = ['Common Flameback',
 'Coppersmith Barbet',
 'Laced Woodpecker',
 'Rufous Woodpecker',
 'Sunda Pygmy Woodpecker']

In [4]:
NUM_GENERAL = len(CLASS_GENERAL)
NUM_GARDEN = len(CLASS_GARDEN)
NUM_KING = len(CLASS_KING)
NUM_RAPTOR = len(CLASS_RAPTOR)
NUM_WATER = len(CLASS_WATER)
NUM_WOOD = len(CLASS_WOOD)

### Prediction functions

In [5]:
IMG_SIZE = 224

In [6]:
# Function to process and predict image
def image_prediction(image, MODEL, CLASS_NAMES, NUM_CLASSES):
    # Process input image
    image_resized = cv2.resize(image, (IMG_SIZE, IMG_SIZE))
    image = np.expand_dims(image_resized, axis=0)
    
    # Threshold
    threshold = (1/NUM_CLASSES) * 1.2 # 120% from uniform split probability as threshold
    
    # Run image through model to obtain prediction
    pred = MODEL.predict(image)
        # pred is a array of length class_count. Each entry is the probability for a particular class
        # Index based on class_names
        
    if pred[0][np.argmax(pred)] < threshold:
        pred_class = "Unknown"
            
    else:    
        # Obtain prediction class
        pred_class = CLASS_NAMES[np.argmax(pred)]
        
    return pred_class

In [7]:
def layered_prediction (image):
    general_pred = image_prediction(image, model_general, CLASS_GENERAL, NUM_GENERAL)
    
    if general_pred == 'Garden and Urban Birds':
        final_pred = image_prediction(image, model_garden, CLASS_GARDEN, NUM_GARDEN)
    elif general_pred == 'Kingfishers':
        final_pred = image_prediction(image, model_king, CLASS_KING, NUM_KING)
    elif general_pred == 'Raptors':
        final_pred = image_prediction(image, model_raptor, CLASS_RAPTOR, NUM_RAPTOR)
    elif general_pred == 'Waterbirds':
        final_pred = image_prediction(image, model_water, CLASS_WATER, NUM_WATER)
    elif general_pred == 'Woodpeckers and Barbets':
        final_pred = image_prediction(image, model_wood, CLASS_WOOD, NUM_WOOD)
    
    return final_pred

### Ensemble Architecture

Evaluation

In [8]:
# Test directory with all 48 classes
test_dir = pathlib.Path('D:/University/CS3244/Project/EfficientNet/data - Copy/data(48_class)/test')

In [9]:
ALL_CLASS_NAMES = ['Ashy Tailorbird',
 'Asian Glossy Starling',
 'Asian Koel',
 'Black-crowned night heron',
 'Black-naped Oriole',
 'Blue-tailed Bee-eater',
 'Blue-throated Bee-eater',
 'Brahminy kite',
 'Brown Shrike',
 'Brown-throated Sunbird',
 'Buffy fish owl',
 'Chinese pond heron',
 'Collared Kingfisher',
 'Common Flameback',
 'Common Iora',
 'Common Kingfisher',
 'Common Myna',
 'Common Tailorbird',
 'Common sandpiper',
 'Coppersmith Barbet',
 'Crested serpent eagle',
 'Eastern cattle egret',
 'Grey heron',
 'Grey-headed fish eagle',
 'Javan Myna',
 'Laced Woodpecker',
 'Little egret',
 'Malaysian Pied Fantail',
 'Olive-backed Sunbird',
 'Oriental Magpie-Robin',
 'Oriental Pied Hornbill',
 'Pacific Swallow',
 'Pink-necked Green Pigeon',
 'Purple heron',
 'Rose-ringed Parakeet',
 'Rufous Woodpecker',
 'Savanna Nightjar',
 'Scarlet-backed Flowerpecker',
 'Spotted wood owl',
 'Stork-billed Kingfisher',
 'Striated heron',
 'Sunda Pygmy Woodpecker',
 'White-bellied sea eagle',
 'White-breasted waterhen',
 'White-throated Kingfisher',
 'Yellow bittern',
 'Yellow-vented Bulbul',
 'Zebra Dove']

TOTAL_NUM_CLASS = len(ALL_CLASS_NAMES)

In [10]:
total_count   = [0] * TOTAL_NUM_CLASS
true_positive = [0] * TOTAL_NUM_CLASS
false_negative = [0] * TOTAL_NUM_CLASS
false_positive = [0] * TOTAL_NUM_CLASS
unknown_count = 0

for bird_folder in test_dir.rglob("*"):
    for bird_image in bird_folder.rglob("*.jpg"):
        
        bird_species = str(bird_folder.stem)
        bird_index = ALL_CLASS_NAMES.index(bird_species)
        
        # Update total count
        total_count[bird_index] += 1
        
        # Load image
        image = cv2.imread(str(bird_image))
        
        # Predict classification
        pred_class = layered_prediction(image)
        
        if str(pred_class) == bird_species:
            true_positive[bird_index] += 1
            
        elif str(pred_class) == "Unknown":
            unknown_count += 1
            
        else:
            false_negative[bird_index] += 1  
            false_positive[ALL_CLASS_NAMES.index(pred_class)] += 1

53.72737029999999  seconds

In [11]:
t/sum(total_count)

0.1381166331619537

In [11]:
unknown_count

0

In [12]:
results = pd.DataFrame({'Class': ALL_CLASS_NAMES,
                        'total': total_count,
                        'true_positive' : true_positive,
                        'false_negative' : false_negative,
                        'false_positive' : false_positive})

In [13]:
results['Precision'] = results['true_positive']/(results['true_positive']+results['false_positive'])
results['Recall'] = results['true_positive']/(results['true_positive']+results['false_negative'])
results['F1 Score'] = (2/((1/results['Precision'])+(1/results['Recall'])))

In [14]:
results

,Class,total,true_positive,false_negative,false_positive,Precision,Recall,F1 Score
0,Ashy Tailorbird,9,1,8,0,1.000000,0.111111,0.200000
1,Asian Glossy Starling,8,3,5,5,0.375000,0.375000,0.375000
2,Asian Koel,7,4,3,6,0.400000,0.571429,0.470588
3,Black-crowned night heron,8,5,3,0,1.000000,0.625000,0.769231
4,Black-naped Oriole,7,1,6,1,0.500000,0.142857,0.222222
5,Blue-tailed Bee-eater,8,2,6,7,0.222222,0.250000,0.235294
6,Blue-throated Bee-eater,10,4,6,19,0.173913,0.400000,0.242424
7,Brahminy kite,8,0,8,1,0.000000,0.000000,0.000000
8,Brown Shrike,8,6,2,2,0.750000,0.750000,0.750000
9,Brown-throated Sunbird,10,8,2,13,0.380952,0.800000,0.516129
10,Buffy fish owl,8,8,0,0,1.000000,1.000000,1.000000
11,Chinese pond heron,8,6,2,2,0.750000,0.750000,0.750000
12,Collared Kingfisher,9,4,5,18,0.181818,0.444444,0.258065
13,Common Flameback,9,3,6,2,0.600000,0.333333,0.428571
14,Common Iora,9,2,7,0,1.000000,0.222222,0.363636
15,Common Kingfisher,8,3,5,1,0.750000,0.375000,0.500000
16,Common Myna,8,5,3,8,0.384615,0.625000,0.476190
17,Common Tailorbird,8,1,7,4,0.200000,0.125000,0.153846
18,Common sandpiper,8,7,1,0,1.000000,0.875000,0.933333
19,Coppersmith Barbet,8,3,5,1,0.750000,0.375000,0.500000
20,Crested serpent eagle,8,4,4,2,0.666667,0.500000,0.571429
21,Eastern cattle egret,8,4,4,7,0.363636,0.500000,0.421053
22,Grey heron,7,3,4,1,0.750000,0.428571,0.545455
23,Grey-headed fish eagle,9,7,2,3,0.700000,0.777778,0.736842
24,Javan Myna,8,2,6,4,0.333333,0.250000,0.285714
25,Laced Woodpecker,9,3,6,0,1.000000,0.333333,0.500000
26,Little egret,7,4,3,4,0.500000,0.571429,0.533333
27,Malaysian Pied Fantail,9,7,2,3,0.700000,0.777778,0.736842
28,Olive-backed Sunbird,9,1,8,5,0.166667,0.111111,0.133333
29,Oriental Magpie-Robin,7,5,2,10,0.333333,0.714286,0.454545
30,Oriental Pied Hornbill,7,7,0,0,1.000000,1.000000,1.000000
31,Pacific Swallow,8,7,1,6,0.538462,0.875000,0.666667
32,Pink-necked Green Pigeon,8,7,1,0,1.000000,0.875000,0.933333
33,Purple heron,7,5,2,2,0.714286,0.714286,0.714286
34,Rose-ringed Parakeet,8,6,2,3,0.666667,0.750000,0.705882
35,Rufous Woodpecker,9,6,3,1,0.857143,0.666667,0.750000
36,Savanna Nightjar,9,9,0,4,0.692308,1.000000,0.818182
37,Scarlet-backed Flowerpecker,9,1,8,5,0.166667,0.111111,0.133333
38,Spotted wood owl,9,6,3,1,0.857143,0.666667,0.750000
39,Stork-billed Kingfisher,7,1,6,2,0.333333,0.142857,0.200000
40,Striated heron,8,7,1,3,0.700000,0.875000,0.777778
41,Sunda Pygmy Woodpecker,8,8,0,2,0.800000,1.000000,0.888889
42,White-bellied sea eagle,6,4,2,6,0.400000,0.666667,0.500000
43,White-breasted waterhen,6,6,0,2,0.750000,1.000000,0.857143
44,White-throated Kingfisher,9,1,8,4,0.200000,0.111111,0.142857
45,Yellow bittern,8,4,4,2,0.666667,0.500000,0.571429
46,Yellow-vented Bulbul,7,5,2,3,0.625000,0.714286,0.666667
47,Zebra Dove,9,8,1,0,1.000000,0.888889,0.941176

In [15]:
filepath = pathlib.Path('D:/University/CS3244/Project/EfficientNet/Results CSV/EfficientNet_LAYERED.csv') 
results.to_csv(filepath, index = False)

### Time Evaluation

In [14]:
import time

test_image_dir = pathlib.Path('D:/University/CS3244/Project/EfficientNet/data - Copy/data(48_class)/test/Ashy Tailorbird/02a46396a0.jpg')
test_image = cv2.imread(str(test_image_dir))

tic = time.perf_counter()

test_pred_class = layered_prediction(test_image)

t = time.perf_counter() - tic
print(t, ' seconds')
print(test_pred_class)

0.12611070000002655  seconds
Brown-throated Sunbird